
{% for stage in spec.doc.stages -%}
    {%- if 'Condition' in stage.__class__.__name__ -%}
1. *Condition* `{{ stage.expression | replace("${{","") | replace("}}","") | trim }}`
        {% for stage in stage.items %}
    1. *Stage*: {{ stage.stage }}
            {% with jobs=stage.jobs, level=2 %}
            {% include "jobs.j2" %}
            {% endwith %}
        {% endfor %}
    {% else -%}
1. *Stage*: {{ stage.stage }}
        {% with jobs=stage.jobs, level=1 %}
        {% include "jobs.j2" %}
        {% endwith %}
    {% endif %}
{% endfor %}