# {{ spec.file.name }}

{% if spec.doc.stages %}
## Workflow
{% include 'stages.j2' %}
{% endif %}

{% if spec.doc.jobs %}
## Workflow
{% with jobs=spec.doc.jobs, level=0 %}
{% include 'jobs.j2' %}
{% endwith %}
{% endif %}

## Usage
```yaml
- template: {{ spec.file.name }}@templatesRepository
  parameters: {}  # See below
```

{% if spec.doc.parameters %}
## Parameters
{% include 'parameters.j2' %}
{% endif %}
