{% for step in steps %}
{% if 'Template' in step.__class__.__name__ %}
    {% with steps=step.spec.doc.steps, level=level %}
    {% include "steps.j2" %}
    {% endwith %}
{% elif 'Condition' in step.__class__.__name__ %}
{{ '    ' * level }}1. {% with condition=step %}{% include "condition_id.j2" %}{% endwith %}

{% with steps=step.items, level=level+1 %}
{% include "steps.j2" %}
{% endwith %}
{% elif "displayName" in step %}
{{ '    ' * level }}1. *Step*: {{ step.displayName | regex_replace('(\${{.+}})', '`\\1`') }}
{% endif %}
{% endfor %}
