## Usage
```yaml
- template: {{ spec.relative_path }}
  {% set required_params = spec.doc.parameters | reject('has_default') | list %}
  parameters: {% if required_params | length > 0 %}

    {% for param in required_params %}
    {{ param.name | indent(4) }}: {{ param.type }}
    {% endfor %}
    {% else %}{}
    {% endif %}
```
